[Desktop Entry]
Type=Application
Exec=/bin/sh -c "$HOME/.config/conky/catppuccin-theme/start.sh"
Hidden=false
StartupNotify=false
Terminal=false
Icon=conky-logomark-violet
Categories=System;Monitor;
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Conky Config Catppuccin
Name=Conky Catppuccin Start
Comment[en_US]=Conky Catppuccin
Comment=Conky Catppuccin
